{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">BARCELONE MARS 2019 DU 20/03/19 AU 24/03/19</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/4.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour:TUNIS-BARCELONE</h3>
                                <br>
                                <br>
                                Départ vers Barcelone sur TUNISAIR à 08h15. Arrivée à 10h00 et Transfert à l'hôtel LLEO ***. Distribution des chambres. Apres midi départ pour un tour panoramique de Barcelone un en bus touristique avec un guide francophone. Visite de Las Ramblas, Cité Olympique, Coline de Montjuic, Quartier Gothique, Eixample / Passeig de Gràcia Maisons, Sagrada Familia (Extérieur) Exposition Internationale de 1888, Front de mer Place Catalunya, Place d’Espagne, STADE CAMP NOU (extérieur). Nuitée à l'hôtel LLEO***.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 2ème JOUR : BARCELONE/ANDORRE (EN OPTION)</h3>
                                <br>
                                Petit déjeuner à l’hôtel. Journée Libre ou Excursion vers la Principauté d’ANDORRE (en EXTRA). La principauté d'Andorre est un petit pays situé entre la France et l'Espagne, dans une vallée au milieu des Pyrénées., connu par ces commerces, ses grands centres commerciaux, ses boutiques où les marques les plus mondialement connues se donnent rendez-vous à n'importe quel coin de rues d'Andorre la Vella, sa capitale. Si vous prenez en compte qu'il s'agit d'un paradis fiscal, cela la rend encore plus attractive pour jouir d'une journée d'achats de vêtements, d'appareils électroniques, de parfums, de tabac. Retour à Barcelone. Nuitée à LLEO***.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3ème JOUR : BARCELONE / ROCA VILLAGE (EN OPTION) </h3><br>
                                Petit déjeuner à l’hôtel. Journée libre ou bien. Shopping à ROCA VILLAGE qui compte plus de 100 grandes marques nationales et internationales mettent en vente les collections passées à des prix allant jusqu’à 70% de réduction, Et cela sur toute l’année. La Roca Village se trouve à 40 min du centre-ville de Barcelone, Retour à l’hôtel. Nuitée à l’hôtel LLEO***
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4ème JOUR : BARCELONE </h3><br>
                                Petit déjeuner à l’hôtel Journée libre. Nuitée à l’hôtel LLEO***
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5ème JOUR : BARCELONE- TUNIS </h3><br>
                                Petit déjeuner à l’hôtel. Matinée libre .Transfert de l’hôtel à l’aéroport de BARCELONE pour le retour. Décollage à 17h40 arrivée à 18h55.
                                <br>
                                <br>

                                <br>
                                <br>
                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">20/03/2019
                                        <TD width="20%">24/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour ENFANT 02 - 12 ANS LOG. AVEC 02 ADULTES 
                                        <TD width="20%">Tarif pour SUP. SINGL 

                                    <TR>
                                        <TD width="20%">1590 DT 
                                        <TD width="20%">590 DT 

                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">BARCELONE</h3><br>A partir de :<h3 style="color:#EE82EE"> 1950 DT </h3><br>4 nuit(s)/ 5 jour(s) <br> du 20/03/2019 - 24/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers Barcelone sur TUNISAIR à 08h15 <br>  Arrivée à 10h00 <br> 
                                    <br>Décollage à 17h40  <br> arrivée à 18h55 <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>Hotel LLEO    <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Billet d’avion Aller et retour sur TUNISAIR non remboursable non modifiable) <br>
                                    • Hébergement en LPD hôtel *** sup <br>
                                    • Transfert aeroport-hotel-aeroport <br>
                                    • City tours <br>




                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    • ROCA VILLAGE : 25€ <br>
                                    • ANDORRE : 50€ <br>
                                    • Timbre de voyage : 60 DT <br>
                                    • Frais de visa : 270 DT <br>
                                    • Frais d’assurance : 20 DT <br>
                                    • City taxe : 0.75*4 = 3€ <br>




                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}      