{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->
    
            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">
                  
                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">BELGRADE / ZLATIBOR (Station De Ski) 19/03/2019 - 26/03/2019</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/1.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour: TUNIS / BELGRADE / ZLATIBOR: </h3><br>
                                Départ vers BELGRADE sur vol TUNISAIR TU226 à 09H35 (RDV AEROPORT 
                                à 07H00). Arrivée à BELGRADE à 11H35, Accueil puis Transfert à ZLATIBOR, logement à 
                                L’hôtel MONA ZLATIBOR 4****. Diner à l’hôtel
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 2éme Jour: ZLATIBOR</h3>
                                <br>
                                Journée libre à la station de ski, possibilité d’activités même pour les débutants. Un assistant de l’agence locale sera disponible pour toutes les activités.
                                Diner à l’hôtel MONA ZLATIBOR. 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3éme Jour: ZLATIBOR / BELGRADE </h3><br>
                                Petit déjeuner a l’hôtel, matinée libre pour activités de ski.
                                L’après-midi départ vers BELGRADE, hébergement a l’hôtel Kopernikus Hotel Prag Beograd PRAG 4**** situé en plein centre-ville. 
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4éme Jour: BELGRADE (CITY TOUR) </h3><br>
                                Visite Guidée de Belgrade: la place Terazije, le Parlement Serbe, l'ancien et le nouveau palais, 
                                place de la République, le Théâtre National, le palais des Princes: LJUBICAS de style Ottoman la grande cathédrale, la forteresse de Kalemegdan, tour de l'horloge, Temps libre pour déjeuner, puis reprise des visites: Damadali Pacha turbe, un monument dédié à Mehmed pacha sokolu, la mosquée Bajrakli, la tour Dizdar, le Mémorial de Tito, Ada Lake, Zemun ...).Nuitée Kopernikus Hotel Prag Beograd PRAG 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5ème Jour: FRUSKA GORA / NOVI SAD / SREMSKI KARLOVCI </h3><br>
                                Départ vers Sremski Karlovci, visite de la ville: 
                                Centre de la vieille ville, la chapelle de la paix où le protocole de paix entre l'empire turc et Les Habsbourg était signée. Temps libre pour Déjeuner,
                                Continuation vers Novi Sad: visite de la forteresse de Petrovaradin sur le Danube, la place centrale, l'hôtel de ville, la cathédrale catholique, la rue piétonne Zmaj Jovina, palais Bishop et l’Église orthodoxe serbe. 
                                Sur le chemin de retour vers Belgrade, arrêt a INDIJA outlet mall pour shopping. Nuitée à Kopernikus Hotel Prag Beograd PRAG 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6ème Jour: MONT AVALA / SUMADIJA / TOPOLA. </h3><br>
                                Départ vers MONT AVALA, une brève visite du Mausolée de l’héros inconnu construit par 
                                Ivan Mestrovic, célèbre sculpteur yougoslave, au sommet de la montagne (511 m), et offre d'excellentes vues sur les collines de Šumadija.
                                Continuation vers TOPOLA: visite de l'église de Notre-Dame fondée en 1813, la demeure de KARAGEORGE qui est devenue un musée.
                                En arrivant au sommet de la colline OPLENAC, visite de l’Eglise ST GEORGE: très spéciale et unique, Construite après la Première Guerre mondiale par le roi Pierre Ier Karadjordjevic, a été imaginé pour être le mausolée de la famille royale.
                                Continuation vers ARANDELOVAC. Temps libre pour déjeuner.
                                Visite de la ville et retour vers BELGRADE. (EXTRA) Nuitée à Kopernikus Hotel Prag Beograd PRAG 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">7ème Jour: BELGRADE </h3><br>
                                Journée Libre pour Shopping au centre commercial I PALATA USCÉ ou bien à la fameuse rue piétonne KNEZ MIHAILOVA. 

                                Nuitée à Kopernikus Hotel Prag Beograd PRAG 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 8ème Jour: BELGRADE / TUNIS </h3><br>
                                Départ vers l’Aéroport de BELGRADE pour envol sur vol TUNISAIR TU227 à 12H25.
                                Arrivée à l’Aéroport TUNIS – CARTHAGE à 14H25
                                <br>
                                <br>
                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">19/03/2019
                                        <TD width="20%">26/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour enfant 
                                        <TD width="20%">Tarif pour enfant 
                                        <TD width="20%"> Tarif pour SUP. SINGLE   
                                    <TR>
                                        <TD width="20%">Enfant 0 – 5 ans (avec 02 Adultes): 1 390 DT 
                                        <TD width="20%">Enfant 5 - 12 ans (avec 02 Adultes): 1 990 DT 
                                        <TD width="20%">SUP. SINGLE: 620 DT    
                                </TABLE>                            


                            </div>	


                        </div>
                   
                      
                       
                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">BELGRADE / ZLATIBOR (Station De Ski)</h3><br>A partir de :<h3 style="color:#EE82EE"> 2 390 DT </h3><br>7 nuit(s)/ 8 jour(s) <br> du 19/03/2019 - 26/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers BELGRADE sur vol TUNISAIR TU226 à 09H35 <br> Arrivée à BELGRADE à 11H35<br> 
                                    <br>Départ vers l’Aéroport de BELGRADE pour envol sur vol TUNISAIR TU227 à 12H25 <br> Arrivée à l’Aéroport TUNIS – CARTHAGE à 14H25 <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>MONA ZLATIBOR 4****  <br>PRAG HOTEL BELGRADE 4**** <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    •	VOL TUNIS/BELGRADE/TUNIS (Tarif Pex Groupe Après Emission NON MODIFIABLE / NON REMBOURSABLE) Transfert Aéroport / Hôtel /Aéroport.<br>   
                                    •	Logement Hôtel 4**** en DEMI PENSION à ZLATIBOR.<br>   
                                    •	Logement Hôtel 4**** en LPD à BELGRADE.<br>   
                                    •	Hébergement en Chambres Doubles.<br>   
                                    •	Excursion BELGRADE CITY TOUR<br>   
                                    •	Excursion NOVI SAD / SREMSKI KARLOVCI<br>   
                                    •	Bus et Guide Durant les Excursions.<br>   
                                    •	Entrées aux Monuments indiquées Dans le Programme.<br>   



                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    •	FRAIS D’ASSURANCE : 20 DT.<br>
                                    •	TIMBRE DE VOYAGE : 60 DT.<br>
                                    •	Excursion MONT AVALA / SUMADIJA : 30 Euro<br>
                                    

                                    N.B :
                                    •	Une autorisation parentale légalisée pour les moins de 35 ans est obligatoire.<br>



                                </div>


                            </div>
                        </div>       



                 
                     
                    </div>
                 
                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->
                                           
	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}	     