{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">BEYROUTH 24/03/2019 AU 29/03/2019</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/5.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour: TUNIS / BEYROUTH </h3><br>
                                Départ vers BEYROUTH sur vol TUNISAIR TU 847 à 06H30 
                                Arrivée à 10H45, Accueil puis Transfert à l’hôtel et répartition des chambres. 
                                Apres midi libre. Nuitées l’hôtel LANCASTER 4**** 


                                <br>
                                <br>
                                <h3 style="color:#EE82EE">2ème Jour: BEYROUTH</h3>
                                <br>
                                Visite de la ville de BEIROUTH: le SOLIDAIRE riche en mosquées et cathédrales, 
                                Visite de la mosquée RAFIK AL HARIRI ainsi que son tombeau, les bains romains, place des martyrs. Continuation vers RAOUCHE, promenade au long de la corniche et visite du célèbre rocher qui domine la plage de BEYROUTH. Temps libre à CITY MALL, l’un des plus grands centres commerciaux du LIBAN. Retour à l’hôtel.
                                Nuitées à l’hôtel LANCASTER 4****

                                <br>
                                <br>
                                <h3 style="color:#EE82EE">3ème Jour : BEYROUTH / BYBLOS / HARISSA / JEITA </h3><br>
                                Départ vers le nord du LIBAN, arrêt photos à NAHR EL KALB: un petit résumé de l’histoire du pays vous sera présenté, continuation vers les fabuleuses Grottes de JEITA, visite de la grotte supérieure et balade en barques dans la grotte inférieure. Départ vers HARISSA en téléphérique (le plus haut sommet de BEYROUTH) et visite de sa fameuse Cathédrale, puis continuation vers BYBLOS bâti depuis 7000 années et connu par ses souks à la fois typiques et modernes et par son grand fort romain. Nuitées à l’hôtel
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4éme Jour: BEYROUTH / SIDON / TYRE / BEYROUTH (Extra) </h3><br>
                                Départ vers le sud du Liban: visite du fort de SIDON, la veille ville, le musé du savon et le temple ESHMOUN. Continuation vers TYR et visite de ses nombreux sites archéologiques. Nuitées à l’hôtel LANCASTER 4****
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5éme JOUR : BEYROUTH </h3><br>
                                Journée libre pour shopping. Nuitées à l’hôtel
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6éme JOUR: BEYROUTH / TUNIS</h3><br>
                                Transfert à l’aéroport pour le retour vers TUNIS sur le vol TU848 à 13h35. 
                                Arrivée à l’aéroport Tunis – Carthage à 16h10.
                                TARIF HOTEL LANCASTER 4****
                                ADULTE 1990DT 
                                ENFANT 6 à 12 loge avec 2adulte 1690 DT 
                                ENFANT 2 à 6 loge avec 2adulte 1490DT 
                                SUP SINGLE 720 DT 
                                BEBE 100 DT 



                                <br>
                                <br>
                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">24/03/2019
                                        <TD width="20%">29/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour Adulte
                                        <TD width="20%">Tarif pour ENFANT 6 à 12 loge avec 2adulte 
                                        <TD width="20%">Tarif pour ENFANT 2 à 6 loge avec 2adulte 
                                        <TD width="20%"> Tarif pour SUP. SINGLE  
                                        <TD width="20%"> Tarif pour BEBE    
                                    <TR>
                                        <TD width="20%">1990DT
                                        <TD width="20%">1690 DT 
                                        <TD width="20%">1490DT 
                                        <TD width="20%">720 DT 
                                        <TD width="20%">100 DT 
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">BEYROUTH</h3><br>A partir de :<h3 style="color:#EE82EE"> 1 990 DT </h3><br>5 nuit(s)/ 6 jour(s) <br> du 24/03/2019 - 29/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers BEYROUTH sur vol TUNISAIR TU 847 à 06H30 <br> Arrivée à 10H45<br> 
                                    <br>Transfert à l’aéroport pour le retour vers TUNIS sur le vol TU848 à 13h35<br> Arrivée à l’aéroport Tunis – Carthage à 16h10 <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>	HOTEL LANCASTER 4****  <br>


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • VOL TUNIS / BEYROUTH / TUNIS (Tarif Pex Groupe : NON MODIFIABLE / NON REMBOURSABLE)<br>
                                    • Transferts Aéroport / Hôtel /Aéroport<br>
                                    • Logement dans un Hôtel 4**** avec Petit Déjeuner<br>
                                    • Hébergement en Chambres Doubles<br>
                                    • Excursion tour panoramique de BEYROUTH<br>
                                    • Excursion JEITA, HARISSA et BYBLOS.<br>
                                    • Bus et Guide Durant les Excursions <br>
                                    • Entrées aux Monuments indiquées Dans le Programme (y compris les grottes et le Téléphérique).<br>





                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              

                                   
                                    • Timbre de voyage: 60 DT <br>
                                    • Frais de visa + Assurance: 75 DT <br>
                                    • EXCURSIONS : SIDON / TYRE : 50 $ <br>



                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}         