{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">PARIS / BRUXELLES/AMSTERDAM 23/03/19 AU 29/03/18</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="singlepage.html"> <img src="{{asset('templates/images/11.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour : TUNIS / PARIS </h3><br>
                                Départ vers PARIS à 08H00 sur TUNISAIR (rendez-vous à l’aéroport à 05h00) Arrivée à 10h30. Transfert à Hotel Mercure Paris La Défense Grande Arche 4****. Installation dans les chambres. Apres midi libre. Nuitée à Hotel Mercure Paris La Défense Grande Arche 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">2ème Jour : PARIS / TOUR D’ORIENTATION :</h3>
                                <br>
                                Après le petit déjeuner, départ en bus pour une ½ journée de visite guidée sur PARIS. (Bibliothèque François Mitterrand, l’institut du monde arabe, jardin des plantes, Panthéon, Tombeau de Napoléon, l’école Militaire, Champs de Mars, Tour Eiffel, Trocadéro) Nuitée à Hotel Mercure Paris La Défense Grande Arche 4****
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3ème Jour : PARIS / DISNEY (Option) </h3><br>
                                Après le petit déjeuner, départ en bus pour une journée complète à Disney. Journée libre Retour et nuitée à l’hôtel. Hotel Mercure Paris La Défense Grande Arche 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4ème Jour : PARIS / BRUXELLES /AMSTERDAM </h3><br>
                                Après le petit déjeuner, départ en bus touristique confort vers Bruxelles ; Tour panoramique en autocar qui vous montrera les endroits le plus importants et les monuments principaux de la capitale de la Belgique. Vous verrez la Cathédrale de San Miguel, le Palais Royal, les bâtiments de la Communauté Européenne, la Place Sablon, le Palais de Justice, etc. Vers la fin du tour vous visiterez la célèbre Grand Place, une des plus belles places au monde. Vous aurez aussi la possibilité de voir le Mannequin Pis. Continuation vers AMSTERDAM. Arrivée et répartition des chambres. Nuitée à Best Western Blue Tower Hotel ****. .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">5-Ème Jour : AMISTERDAM </h3><br>
                                Apres le petit déjeuner, une visite guidée d'une heure en bus à travers le centre-ville et les quartiers les plus modernes d'Amsterdam, de donner à vos clients la possibilité de voir les bâtiments et les monuments les plus importants de la capitale néerlandaise. L'autocar laissera votre clients devant l'une des usines de diamants les plus célèbres d'Amsterdam, où ils recevront une explication détaillée de la taille du diamant et des techniques de montage de bijoux. Ensuite vos invités seront transférés en bus vers l’embarcadère pour une ballade en bateau-mouche privé le long des beaux canaux d'Amsterdam. Apres midi libre Nuitée à Best Western Blue Tower Hotel ****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6-Ème Jour : AMSTERDAM </h3><br>
                                Journée libre. Nuitée à Best Western Blue Tower Hotel ****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">7-Ème Jour : AMSTERDAM – TUNIS </h3><br>
                                Matinée libre. Transfert à l’aéroport décollage à 17h 55 .Arrivée à TUNIS à 20h45.
                                <br>
                                <br>

                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">23/03/2019
                                        <TD width="20%">29/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour enfant -12 logé avec les parents 
                                        <TD width="20%">Tarif pour Bébé – 2ans 
                                        <TD width="20%"> Tarif pour SUP. SINGLE   
                                    <TR>
                                        <TD width="20%">2190 dt
                                        <TD width="20%">100 dt
                                        <TD width="20%"> 890dt
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">PARIS / BRUXELLES/AMSTERDAM </h3><br>A partir de :<h3 style="color:#EE82EE"> 2 790 DT </h3><br>6 nuit(s)/ 7 jour(s) <br> du 23/03/2019 - 29/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers PARIS à 08H00 <br> Arrivée à 10h30<br> 
                                    <br>Transfert à l’aéroport décollage à 17h 55 <br>Arrivée à TUNIS à 20h45. 
                                    <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>Hotel Mercure Paris La Défense Grande Arche à PARIS   <br>Best Western Blue Tower Hotel à AMSTERDAM  <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Vol aller / retour TUN/PAR/ AMS/TUN <br>
                                    • Transfert aéroport/hôtel/aéroport<br>
                                    • Hébergement chambre double hôtel 4**** avec petit déjeuner à PARIS<br>
                                    • Hébergement chambre double hôtel 4*** avec petit déjeuner à AMSTERDAM<br>
                                    • Transport assuré par un bus confort <br>
                                    • Tour panoramique guidée à PARIS <br>
                                    • Tour panoramique guidée à BRUXELLES <br>
                                    • Visite guidée d’AMSTERDAM avec bateau mouche <br> 
                                    • Les droits d’entrées pour les monuments indiqués sur le programme. <br>





                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    FRAIS DE VISA : 298 DT (en espèce) <br>
                                    FRAIS D’ASSURANCE : 20 DT <br>




                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}       