{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">CASABLANCA /RABAT /MARRAKECH 23/03/2019 AU 29/03/2019</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/2.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour : TUNIS / CASABLANCA /MARRAKECH: </h3><br>
                                Matin : Départ vers CASABLANCA sur vol TUNIS AIR TU 711 a 08H:30 (Rendez Vous AEROPORT à 05H:30).Arrivée à l'Aéroport MOHAMED V à 10H:15, Continuation vers Marrakech. Arrivée et répartition des chambres à l’hôtel EL ANDALOUS .Hébergement et diner à l’hôtel El Andalous Lounge & Spa4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 2ème Jour : MARRAKECH</h3>
                                <br>
                                Petit Déjeuner à l’hôtel . Visite de la ville de Marrakech , la 3e plus grande ville du Maroc. Visite des extérieurs de la ville : Jardin de la Menara planté d’oliviers, tour des remparts, quartier Yves Saint Laurent (jardin botanique du peintre français jacques Majorelle en Extra). arrêt devant la koutoubia édifice représentatif de l’art des Almohades , visite des Souks (céramique , poteries , bijoux), Traversée de la place Djemaa El Fna, haut -lieu touristique . Dîner et hébergement l’hôtel El Andalous Lounge & Spa4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3ème Jour MARRAKECH /OURIKA (Extra 35€ ) </h3><br>
                                Petit Déjeuner à l’hôtel. Journée libre si non Excursion vallée d’Ourika Ne quittez pas Marrakech sans avoir effectué l'excursion vallée de l'Ourika. Située à 30 km de Marrakech, essentiellement peuplée de berbères, elle s'engouffre progressivement dans le Haut Atlas marocain, offrant une nature de toute beauté où les couleurs jouent avec la montagne et le ciel…Visite d'une habitation traditionnelle berbère. Temps libre pour escalade. DINER ET SOIREE FOLKLORIQUE CHEZ ALI (40€ ): Départ à 20H00 vers le DOUAR CHEZ ALI , diner sous tente caidale au menu Hrira soupe marocaine , Tajine de viandes au prunes , couscous aux 7 légumes , fruits et the , défilé de troupe folkloriques , danseuse Du Ventre Spectacle Spectaculaire Fantasia SpectaculaireCascadeurs Et Spectacle De Voltige D'âne Enchantement Du Tapis Magique ,Coup Final Des Cavaliers. Hébergement et diner à l’hôtel El Andalous Lounge & Spa4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4ème Jour : MARRAKECH/VILLE ESSAOUIRA(Extra 35€) </h3><br>
                                Petit Déjeuner à l’hôtel Journée libre EXTRA 35 EURO Visite de la ville d’Essaouira : la Perle de l'Atlantique qui est connu par son charme et sa beauté ainsi que par sa sérénité totale ,visiter les fortifications constitué d'un mélange étonnant de Portugais et de l'architecture militaire berbères. faites une visite à la médina et découvrir les souks les ateliers de menuiserie ,la citadelle et ses petits artisans ainsi par la visite du vieux port essentiellement consacré à la péche dont vous pouvez prendre des poissons fraîchement pêchés au barbecue. une promenade à la belle plage. DINER ET SOIREE BRESILIENNE FUEGO LATINO ( 50€ ) : Départ à 21H00 Dans un décor exotique et chaleureux, retrouvez l'ambiance si particulière du brésil et dégustez ses spécialités culinaires pleines de saveurs. menu viande à volonté. Tout au long de la soirée, notre groupe de musique tout droit venu d’Amérique du Sud fera vibrer petits et grands au rythme des sons brésiliens et Latino. Nos danseuses réjouiront les plus grands fans de Samba par des chorégraphies et des costumes inspirés du carnaval de Rio. Dîner et hébergement l’hôtel El Andalous Lounge & Spa4****
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5ème Jour MARRAKECH /CASABLANCA </h3><br>
                                Petit déjeuner à l’hôtel Transfert à l’hôtel choisi à Casablanca Tour de ville de Casablanca, capitale économique du pays, arrêt photos devant la grande mosquée Hassan II (vue extérieure). Promenade sur la corniche Ain Diab où se succèdent restaurants, discothèques et terrasses de cafés .Temps libre à Morocco Mall, premier Mall de « Retailtainment » d'Afrique. Hébergement à l’hôtel OUM PALACE 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6ème Jour : CASABLANCA /RABAT/CASABLANCA </h3><br>
                                Petit Déjeuner à l’hôtel Excursion Rabat : départ pour rabat, capitale politique et administrative sur le littoral atlantique: Entrée du Palais Royal avec son esplanade , mausolée Mohammed V ( pavillon de marbre blanc couronné de tuiles vertes ) , Tour Hassan ( XII e s) , promenade a la Kasbah de l Oudaya construite initialement au 12eme siècle . Hébergement l’hôtel OUM PALACE 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">7ème Jour : CASABLANCA / TUNIS </h3><br>
                                Petit déjeuner à l’Hotel .Matinée libre . Envol vers TUNIS sur vol TUNIS AIR TU 712 à 18H:20. Arrivée à l'Aéroport TUNIS - CARTHAGE à 21H:10.
                                <br>
                                <br>


                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">23/03/2019
                                        <TD width="20%">29/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour SUP. SINGLE 
                                        <TD width="20%">Tarif pour  ENFANT – 12 ANS LOG. AVEC 02 ADULTES 
                                        <TD width="20%"> Tarif pour  2 – 6 ANS LOG. AVEC 02 ADULTES 
                                        <TD width="20%">Tarif pour BEBE - 2 ans    
                                    <TR>
                                        <TD width="20%">490 dt 
                                        <TD width="20%">1490 DT 
                                        <TD width="20%">890 dt 
                                        <TD width="20%">100 dt    
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">CASABLANCA /RABAT /MARRAKECH</h3>A partir de :<h3 style="color:#EE82EE"> 1990 DT</h3><br>6 nuit(s)/ 7 jour(s) <br> du 23/03/2019 - 29/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers CASABLANCA sur vol TUNIS AIR TU 711 a 08H:30 (Rendez Vous AEROPORT à 05H:30) <br> Arrivée à l'Aéroport MOHAMED V à 10H:15<br> 
                                    <br> Envol vers TUNIS sur vol TUNIS AIR TU 712 à 18H:20 <br> Arrivée à l'Aéroport TUNIS - CARTHAGE à 21H:10. <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>El Andalous Lounge & Spa  <br>CASA HOTEL OUM PALACE <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    •	Vol aller /retour billet non rembourssable ni modifiable <BR>
                                    •	04 nuits à Marrakech en Demi-Pension (Diner et Petit Déjeuner en buffet) <BR>
                                    •	02 nuit à Casablanca en Logement Petit Déjeuner (Petit Déjeuner en buffet). <BR>
                                    •	Visite Guidée de la ville Marrakech <BR>
                                    •	Visite Guidée Casablanca <BR>
                                    •	Visite guidée RABAT <BR>
                                    •	Guide accompagnateur agrée pendant tout le séjour.<BR> 
                                    •	Les transferts Inter-villes <BR>
                                    •	transferts aéroport/Hôtels/aéroport (Autocar touristique).  <BR>



                                </div>


                            </div>
                        </div>        


                     





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}           
