{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">INDE & ISTANBUL DELHI –JAIPUR – AMBER- FATATEHPUR –AGRA-DELHI- ISTANBUL DU 20/03/19 AU 29/03/19</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/8.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">Jour 01 ( 20 Mars 19 ) TUNIS/ISTANBUL  </h3><br>
                                Départ vers DELHI via ISTANBUL à 11h 15 ( rendez vous avant 03 heurs ) à Arrivée à 15H 55 continuation à 20h 55.

                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 02 ( 21 Mars 19 ) DELHI</h3>
                                <br>
                                Arrivée à Delhi à 05h15, accueil et transfert à l´hotel. Installation dans les chambres pour se reposer. A midi , départ pour la visite du fameux minaret Qtub Minar .
                                Retour à l´hôtel . Diner et logement à l’ hôtel The Suryaa 5*****.

                                <br>
                                <br>
                                <h3 style="color:#EE82EE">Jour 03 ( 22 Mars 19) DELHI </h3><br>
                                Petit déjeuneur. Départ en excursion pour la découverte de Delhi. Vous visitez le quartier Shandni Showk avec une promenade en Rick Shaw, la grande Mosquée Jamaa Masdjid, le mausolée du leader Mahatma Gandhi. A l´après-midi, vous vous promenez dans le Raj Path et la Porte de l´Inde. Pour terminer la journée, on aura l´occasion de visiter un temple de la religion Sikh et assister à la prière des pèlerins. Retour à l´hôtel. Temps libre. Diner et logement l’ hôtel The Suryaa 5*****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">Jour 04 (23 Mars 19) DELHI –JAIPUR </h3><br>
                                Petit déjeuner et départ vers Jaipur, l´ancienne capitale du Rajasthan. Arrivée et visite du temple Birla de la religion Hindouiste. A l´après-midi vous aurez une excursion panoramique de la ville de Jaipur avec le palais Royal (visite) et le palais Albert Hall. Diner et nuit à l´hôtel The Lalit 5*****
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 05 (24 Mars 19) JAIPUR - AMBER – JAIPUR </h3><br>
                                Petit déjeuner et départ vers Amber ( à 11 Km) . Promenade à dos d´éléphant pour arriver au fort. Visite complète de ce complexe de palais, jardins et murailles. Etait le centre du pouvoir et résidence des empereurs du XVI siècle. A midi retour a Jaipur pour la visite du centre d´astronomie, le palais Hawa Mahal(extérieure) et la grand bazar .Diner et nuit l ´hôtel The Lalit 5*****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 06 (25Mars 19) JAIPUR –FATATEHPUR -AGRA </h3><br>
                                Apres le petit déjeuner départ vers Agra. En route vous visitez la ville monumentale Fatehpur Sikri avec ses palais et jardins.Une fois à Agra, on visite le Fort Rouge, situé dans la ville. Ce palais fut la résidence et prison de l´empereur Shah Jehan. Installation.Diner et logement Radisson 5*****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">Jour 07(26 Mars 19) AGRA – DELHI </h3><br>
                                Petit déjeuner à l´hôtel. Visite de l´une des merveilles du monde qui est le Taj Mahal, mausolée du XVII siècle, construit par l´empereur Shah Jehan en mémoire de son épouse Mumtaz Mahal. A ´heure prévue départs vers Delhi. Reste l´après-midi libre. Diner et nuit à l´hôtel The Suryaa 5*****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 08 (27 Mars 19 DELHI/ISTANBUL</h3><br>
                                Transfert à l´aéroport de Delhi. Embarquement sur vol de ISTANBUL à 06H55 arrivée a ISTANBUL à 11h30.Transfert hôtel . après midi libre . Nuitée à Ramada Hotel & Suites Atakoy*****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 09 (28 Mars 19 ) ISTANBUL–BOSPHORE-CORNE D’OR-COTE ASIATIQUE</h3><br>
                                Petit déjeuner à l’ hôtel .Départ vers la Corne d’Or, la visite de la Mosquée d’Eyüp, ainsi que son célèbre cimetière ottoman avant de monter en téléphérique jusqu’au Café Pierre Loti qui domine la Corne d’Or, Continuation encroisière en bateau sur le Bosphore pour contempler la silhouette d´Istanbul avec ses mosquées, ses palais, et ses maisons en bois typiques, les fameux « yalis » qui bordent ses rives. Continuation vers la côte asiatique pour la vue panoramique de la ville à partir de la Colline de Camlica , temps libre au quartier de Usküdar .retour à la cote européenne en traversant le pont de Bosphore (EXTRA 30 $) . si non journée libre. Ramada Hotel & Suites Atakoy*****.
                                <br>
                                <br>

                                <h3 style="color:#EE82EE"> Jour 10 (29 Mars 19 ) ISTANBUL/ TUNIS</h3><br>
                                Petit déjeuner à l hotel. Transfert à l’aéroport .Décollage à 14h 25arrivée a Tunis 15h 35
                                <br>
                                <br>

                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">20/03/2019
                                        <TD width="20%">29/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif enfant -12 ans logé avec les parents 
                                        <TD width="20%"> Tarif pour SUP. SINGLE   
                                    <TR>
                                        <TD width="20%">3490 DT 
                                        <TD width="20%">1490 DT  
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">INDE & ISTANBUL</h3><br>A partir de :<h3 style="color:#EE82EE"> 4490 DT </h3><br>9 nuit(s)/ 10 jour(s) <br> du 20/03/2019 - 29/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers BELGRADE sur vol TUNISAIR TU226 à 09H35 <br> Arrivée à BELGRADE à 11H35<br> 
                                    <br>Départ vers DELHI via ISTANBUL à 11h 15 <br> Arrivée à 15H 55 <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>The Suryaa DELHI   <br>PThe Lalite JAIPUR  <br> Radison blue AGRA  


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Billet d’ avion non remboursable non modifiable <BR>
                                    • Transferts en bus touristique avec A/C <BR>
                                    • Assistance durant les transferts <BR>
                                    • Guide francophone durant tout le circuit <BR>
                                    • Visites et entrées aux monuments et musées selon le programme <BR>
                                    • Logement en des hôtels 5**** en demi-pension (petit déjeuner et diner)<BR>
                                    • Une bouteille d´eau minérale para personne et jour <BR>
                                    • Promenade à dos d´éléphant a Amber <BR>
                                    • Promenade en Rick Shaw a Delhi ou a Jaipur <BR>
                                    • Accompagnateur de l’agence<BR>
                                    Les entrées payantes comprises dans ce programme :<BR>
                                    • Delhi. Grande Mosquée JEMAA Masjid, Qtub Minar <BR>
                                    • Jaipur. Le Fort Amber, le centre d´Astronomie, <BR>
                                    • Agra. le Fort Rouge, le Taj Mahal <BR>
                                    <h3 style="color:#EE82EE"> Copie du formulaire remplie et signée</h3><BR>
                                    2 Photos récentes (max 3 mois) format passeport<BR>
                                    Passeport original et une copie avec une validé minimum de 6 mois <BR>
                                    01 copie de la carte d’identité nationale<BR>
                                    une assurance voyage 35 dt<BR>
                                    Les Frais : 285 dt<BR>




                                </div>


                            </div>
                        </div>        


                  





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}               