{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">MADRID ANDALOUSIE COSTA DEL SOL MADRID /CORDOUE/ MALAGA/MARBELLA/GRENADA 25/03/2019 – 31/03/2019</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <img src="{{asset('templates/images/12.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er JOUR : TUNIS / MADRID: </h3><br>
                                Départ vers MADRID sur vol TUNISAIR TU 606 a 15H:15 (Rendez vous Aéroport à 12h:15) Arrivée à 17H : 20. Accueil puis Transfert à hôtel EUROSTARS CENTRAL **** .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 2éme JOUR : MADRID / CORDOBA/ TORREMOLINOS</h3>
                                <br>
                                Petit déjeuner à l’hôtel. Départ en autocar vers Cordoba l´ancienne capital del Andalous. Dès votre arrivée, transfert pour profiter d’une visite guidée en extérieur autour des principaux monuments de la ville : le quartier juif, le Palais Royal (« Alcázar ») et entrée à la Mosquée-Cathédrale de Cordoue, un des bijoux de l’architecture islamique en Espagne. Continuation vers TORREMOLINOS . Diner et logement à l´hôtel Gran Cervantes by Blue Sea 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3éme JOUR : MALAGA / MARBELLA </h3><br>
                                Petit déjeuner à l’hôtel .Départ vers Málaga. La visite débute à Plaza de la Merced, l'une des places les plus importantes de Málaga où vous pourrez observer la statue de Picasso. Vous verrez les origines de la ville et continuerez jusqu'à vous promener dans les rues et les lieux les plus emblématiques de Málaga, tout en profitant de la véritable essence de Málaga. Vous pourrez profiter de l’observation de la Plaza de la Constitución, de la Calle Lario, et de la Plaza del Obispo. Apres midi départ vers MARBELLA visite la vieille ville , y compris la Place d'Orange, l'église de l'Incarnation avec ses ermitages et ses chapelles (exterieur), les ruines mauresques, et les maisons historiques qui datent du XVIe siècle. Temps libre au Port de Plaisance « PUERTO BANUS ». Retour à Torremolinos . Diner et nuitée à l´hôtel Gran Cervantes by Blue Sea 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4éme JOUR : GRENADE </h3><br>
                                Petit déjeuner à l’hôtel .Départ GRENADE , Visite guidée de L’Alhambra (Palais des Milles et une nuit), Palais Charles V, Alcazaba et la cour des lions. Les jardins du généralife de L’ALHAMBRA où se trouve le seul Palais arabe du moyen âge qui reste intact en Europe. Les jardins du GENERALIFE constituent le complément parfait de l’Alhambra, autrefois résidence d'été des Rois Maures. Retour à Torremolinos . Diner et nuitée à l´hôtel Gran Cervantes by Blue Sea 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5éme JOUR : SEVILLE (EXTRA ) </h3><br>
                                Petit déjeuner. Départ vers Séville Ce jour nous réalisons une excursion complète dans la ville de Sevilla à savoir le quartier Santa Cruz, le parc Maria Luisa, la place d´Espagne et l´extérieur de la Giralda. Retour à l’hôtel .Si non journée libre Diner et nuitée à l´hôtel Gran Cervantes by Blue Sea 4****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6éme JOUR : TORREMOLLINOS / MADRID</h3><br>
                                Petit déjeuner à l’hôtel. Départ vers MADRID par BUS. Nuitée à l hôtel EUROSTARS CENTRAL **** .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">7éme JOUR : MADRID /TUNIS</h3><br>
                                Matinée libre. Tour panoramique de MADRID: Place MAYOR, Place CIBELES, PUERTA DEL SOL, Palais Royal (EXTERIEUR), Place ESPAGNE, Stade SANTIAGO BERNABEU (EXTERIEUR)…Départ vers L'Aéroport de MADRID par Bus. Envol sur vol TU 607 à 19H:25. Arrivée à TUNIS – CARTHAGE à 20H:30.
                                <br>
                                <br>

                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">25/03/2019
                                        <TD width="20%">31/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour SUP. SINGLE 
                                        <TD width="20%">Tarif pour ENFANT 06 -12 ANS LOGEANT AVEC 02 ADULTES: 
                                        <TD width="20%"> Tarif pour BEBE
                                    <TR>
                                        <TD width="20%">790 DT 
                                        <TD width="20%">2190 DT
                                        <TD width="20%">100 Dt    
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">MADRID ANDALOUSIE COSTA DEL SOL  </h3><br>A partir de :<h3 style="color:#EE82EE"> 2 790 DT </h3><br>6 nuit(s)/ 7 jour(s) <br> du 25/03/2019 - 31/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers MADRID sur vol TUNISAIR TU 606 a 15H:15 <br> Arrivée à 17H : 20<br> 
                                    <br>Envol sur vol TU 607 à 19H:25<br> Arrivée à TUNIS – CARTHAGE à 20H:30 <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>EUROSTARS CENTRAL  <br>Gran Cervantes by Blue Sea  <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    Vol TUNIS / MADRID / TUNIS (BILLET PEX GROUPE, APRES EMISSION <br>
                                    NON MODIFIABLE NI REMBOURSABLE)
                                    • TRANSFERT AEROPORT / HOTEL / AEROPORT. <br>
                                    • TRANSFERT PAR BUS : MADRID / GRENADA/CORDOBA/SEVILLE / MADRID. <br>
                                    • LOGEMENT HOTEL 4**** en DEMI PENSION à Torremollinos MALAGA . <br>
                                    • LOGEMENT HOTEL 4*** Avec PETIT DEJEUNER a MADRID . <br>
                                    • HEBERGEMENT EN CHAMBRE DOUBLE. <br>
                                    • ENTREES AUX SITES INDIQUEES DANS LE PROGRAMME.<br> 
                                    • BUS ET GUIDE PARLANT FRANÇAIS DURANT LES EXCURSIONS <br>
                                    •Visite de CORDOUE , MALAGA , MARBELLA , GRENADA et MADRID <br>




                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    • FRAIS DE VISA = 298 DT (A PAYER EN ESPECE AU CONSULAT) <br>
                                    • FRAIS D’ASSURANCE (OBLIGATOIRE) : 20 dt. <br>
                                    • TIMBRE DE VOYAGE : 60 dt. <br>





                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}     