{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">NICE / CANNES/MONACO 20/03/2019 AU 24/03/2019</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/7.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour : TUNIS / NICE /CANNES/NICE: </h3><br>
                                Départ vers NICE sur TUNISAIR à 08h50. Rendez-vous à l’aéroport Carthage avant 3h Arrivée à NICE .10h20 . Départ pour une excursion ½ journée à CANNES Vous arriverez à Cannes par la Croisette, créée en 1868, avec les grands Palaces (Martinez, Carlton, Majestic...) où séjournent les stars lors du Festival du Film et en bout de Croisette le Palais des Festivals avec les fameuses marches et son tapis rouge. Lord Brougham est l'inventeur de Cannes et vous pourrez voir sa statue, dans les allées de la liberté, située face au Palais des Festivals .Vous irez ensuite à St Paul de Vence, magnifique village fortifié du Moyen Age et un des villages les plus visité en France.St Paul de Vence est devenu le rendez-vous des peintres (Bonnard,Braque, Dufy, Matisse), du monde des lettres(Prévert, Pagnol) et du spectacle(Signoret, Montand). Flânez le long des remparts et à l'interieur de l'enceinte, les ruelles sont plaisantes, bordées de boutiques et de maisons en pierre calcaire. Retour à NICE. Nuitée à l’hôtel ANNEXE MONSIGNY***
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">2ème Jour : NICE /MONACO /NICE</h3>
                                <br>
                                Matin : Tour Panoramique de NICE : Découvrez la capitale de la Côte d'Azur, avec sa Promenade des Anglais qui longe la mer sur 7km. Puis les jardins Albert Ier qui comporte un théâtre de Verdure et la magnifique Place Massena.Flânez dans la vieille ville de Nice avec le marché aux fleurs sur la cour Saleya(le matin uniquement et le lundi la brocante) .La vieille ville est située entre le centre-ville et la mer appelée aussi "Vieux Nice".La colline du Château vous enchantera par sa vue panoramique, de Nice au massif de l'Esterel, ainsi que sur le port et le mont Boron. Vous apprécierez aussi la cascade et les jardins.Vous vous rendrez à Cimiez, quartier aristocratique de Nice où séjournait la reine Victoria, et où se trouve le musée Chagall et Matisse, ainsi que le monastère franciscain et ses jardins de roses. Départ vers la Principauté de MONACO. Vous commencerez avec la vieille ville appelée le Rocher dominant la mer et le port d'une hauteur de plus de 60m. La Vieille ville regroupe le Gouvernement, le Palais Princier avec sa relève de la garde, la Cathédrale et le Musée Océanographique. Vous continuerez à Monte Carlo avec au centre la Place du Casino, à droite l'hôtel de Paris construit en 1864, à gauche le café de Paris et le Casino avec sa salle de théâtre et son dôme créée par Charles Garnier, architecte de l'opéra de Paris. Retour à Nice .Nuitée à l’hôtel ANNEXE MONSIGNY *** .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3ème Jour : NICE /SAN REMO ( Option) /NICE</h3><br>
                                Départ de Nice par autoroute jusque San Remo – environ 1h00.En passant la frontière, découvrons le charme authentique des villes italiennes à seulement 1 heure de la capitale Azuréenne.Descente sur la ville de San Remo, fleuron de la Riviera dei Fiori.Les villas, les parcs et jardins ont une histoire liée au développement touristique de la ville lancée à la belle époque par les princesses Russes et les Barons anglais.Visite de la ville aux nombreuses boutiques. .Montée possible à la Pigna, le vieux quartier, surmonté par le sanctuaire de Notre Dame dellaCosta.Le casino a été érigé par Charles Garnier en 1905. Théâtre Ariston, où se déroule chaque année, le festival de la chanson.Retour à Nice . Si non journée libre. Nuitée à l’hôtel ANNEXE MONSIGNY *** .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4ème Jour : NICE </h3><br>
                                Journée libre Nuitée à l’hôtel ANNEXE MONSIGNY ***.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5èmejour NICE / TUNIS </h3><br>
                                Matinée libre. Transfert à l’aéroport pour le retour. Décollage à 17H 35 arrivée à 19H 10
                                <br>
                                <br>


                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">20/03/2019
                                        <TD width="20%">24/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour ENFANT 02 - 12 ANS LOG. AVEC 02 ADULTES 
                                        <TD width="20%">Tarif pour BEBE 
                                        <TD width="20%"> Tarif pour SUP. SINGLE   
                                    <TR>
                                        <TD width="20%">1490DT
                                        <TD width="20%">100 DT
                                        <TD width="20%">590 DT  
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">NICE / CANNES/MONACO </h3><br>A partir de :<h3 style="color:#EE82EE"> 1790 DT </h3><br>4 nuit(s)/ 5 jour(s) <br> du 20/03/2019 - 24/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers NICE sur TUNISAIR à 08h50 <br> Arrivée à NICE .10h20 . <br> 
                                    <br>Décollage à 17H 35  <br> arrivée à 19H 10 <br>


                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>hotelmonsignynice. <br>hotel-annexe-nice <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Vol aller /retour (Tarif non remboursable, non modifiable) <BR>
                                    • Transfert aéroport/ hôtel / aéroport • Logement dans un hôtel 3*** avec petit déjeuner pendant 04 nuitées à NICE <BR>
                                    • Visite de NICE  <BR>
                                    • Visite de CANNES  <BR>
                                    • Visite de MONACO  <BR>




                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    • Frais de visa Espagne : 298DT (Espèce). <BR>
                                    • Assurance : 20 dt <BR>
                                    • SAN REMO : 35 € sur la base min grp de 25 pax <BR>
                                    • City taxe 1.5*4 =6€ <BR>





                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}        