{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">CIRCUIT PORTUGAL LISBONNE/FATIMA/ COIMBRA/PORTO/ LISBONNE 23/03/19 AU 30/03/19</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/6.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">Jour 1 : TUNIS / LISBONNE </h3><br>
                                Départ vers Lisbonne sur TUNISAIR à 13h05 (rendez-vous l’aéroport Carthage avant 03 heures ) Arrivée à Lisbonne à 15H00. Accueil à l’aéroport et transfert à l’hôtel. Logement à hôtel **** ALIF AVENDAS à Lisbonne.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">Jour 2 : LISBONNE</h3>
                                <br>
                                Excursion demi-journée à Lisbonne .Départ pour la visite guidée de la ville de Lisbonne. Nous entamons la visite par la Place Marquês de Pombal, ensuite nous descendons l’avenue la plus célèbre de Lisbonne, l’avenue de la Liberté, en direction de la Baixa Pombalina, zone basse de la ville reconstruite après le tremblement de terre de 1755. Nous poursuivons notre excursion vers la Place du Comercio (Terreiro do Paço), le Rossio, la CathédrâleSé de Lisbonne, le Couvent du Carmo et le musée national d’art ancien (exterieur).Après-midi : Shopping à Colombo : nous vous ramenons au centre de shopping puis retour à l’hôtel individuel.Logement à hôtel ALIF AVENDAS **** .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 3 : LISBONNE /SINTRA/ESTORIL/CASCAIS/LISONNE ( Extra ) </h3><br>
                                Petit-déjeuner à l’hôtel. Puis, profitez d’une visite pour explorer Sintra et Cascais, deux villages situés aux environs de Lisbonne. Visitez tout d’abord Cascais, un ancien village de pêcheurs et célèbre comme station balnéaire de la famille royale portugaise à la fin du XIXe siècle et au début du XXe siècle .Continuez la visite au village à la fois fascinant et mystérieux de Sintra et découvrez le patrimoine et les paysages naturels de ce site classé au patrimoine mondial de l’UNESCO. Laissez-vous envoûter par l’atmosphère unique de Sintra qui, avec ses nombreux palais et son architecture romantique, semble être sorti d’un conte de fées. Découvrez ensuite le Cabo da Roca, le point le plus occidental du continent européen avec les superbes plages se trouvant en bas des falaises. Reprenez ensuite la route pour le retour à Lisbonne et admirez les paysages sublimes le long de l’océan Atlantique, pause photo à La Tour de Belém que l'on ne doit pas rater est classée au patrimoine mondial de l'UNESCO et jusqu’à l’embouchure du Tage pour conclure cette journée inoubliable. Ou bien journée libre. Logement à hôtel ALIF AVENDAS **** à Lisbonne.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">Jour 4: LISBONNE </h3><br>
                                Journée libre .Logement à hôtel ALIF AVENDAS **** à Lisbonne.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 5: LISBONNE/FATIMA /COIMBRA/PORTO</h3><br>
                                Départ à Porto via Fatima et Coimbra :Ce Circuit commencera le matin, depuis Lisbonne pour nous rendre à Fátima, le plus grand lieu de culte au Portugal, où des milliers de pèlerins se rendent chaque année pour célébrer les apparitions divines de la Vierge Marie en 1917. Dans cette emblématique et mystérieuse ville, connue comme l’autel du monde, vous visiterez la Chapelle des Apparitions, l'Église de la Sainte-Trinité et la Basilique, où reposent les tombes des trois Enfants Bergers. Dans l'après-midi, le circuit continuera à Coimbra, autrefois capitale du Portugal et connue comme la Ville des Étudiants. Après un tour panoramique des principaux points d'intérêts, vous aurez l'opportunité d'admirer l'Université, la plus ancienne du Portugal et classée au Patrimoine Mondial de L'UNESCO. Notre arrivée à Porto s'effectuera dans les environs de 18h. Logement à l’hôtel EURO STARS DAS ARTES ****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 6: PORTO </h3><br>
                                Apres le petit-déjeuner on Commencer la visite par les rues du centre historique de Porto, classé au patrimoine mondial de l’UNESCO. Découvrez la ville à travers ses différents quartiers, bâtiments et rues. Admirez le vieux palais, des églises pleines de charme et des quartiers animés. Contemplez le célèbre pont de fer ou pont Maria Pia conçu par Théophile Seyrig, les caves à vin de Porto et les bateaux Rabelo alignés le long des quais qui préservent la mémoire du passé, lorsqu’ils étaient utilisés pour transporter les fûts de vin. Au XIIe siècle, la ville s’est développée autour de la construction de la cathédrale et elle a survécu à plusieurs invasions maures et castillanes ainsi qu’aux invasions militaires françaises du XIXe siècle. Promenez-vous le long de l’avenue des Aliados jusqu’à l’endroit qui servit de toile de fond à la première proclamation de la République portugaise. visite de Porto, la deuxième ville du Portugal. Panoramique de la ville, classifiée comme Patrimoine de l’Humanité par Unesco et visite du Palais de la Bourse, et d’un chai du vin Porto à Vila Nova de Gaia. Après midi libre . Logement à l’hôtel EURO STARS DAS ARTES ****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">Jour 7 : PORTO /BRAGA/GUIMARES /PORTO ( Extra ) </h3><br>
                                Petit-déjeuner depart vers Départ pour la visite de la province de Minho pour commencer GUIMARAES, le berceau du Portugal. On commence par "Bracara Augusta" (Braga). A Braga on va commencer la visite au sanctuaire de Bom Jesus Au centre de Braga, toujours à l'extérieur de l'ancienne muraille médiévale où vous pourrez visiter l'église de Congregados puis continuer vers son plus imposant monument, la cathédrale Sé (visite exterieur) construite dans le style roman avec finition en style gothique.Braga étant la ville des Archevêques sa cathédrale est en effet l'un des plus spectaculaires. Vous terminerez la visite au prestigieux Astoria Café, l'un des plus beaux et vieux de la ville. Ici vous pouvez apercevoir une partie de l'ancien mur.Après vous visitez Guimarães. Dans cette visite guidée à pied dans le centre historique, vous visiterez le château, mais d'abord une brève visite à l'église romane de Saint-Miguel, où fut baptisé le premier roi. Un peu plus bas, vous visiterez le Palais des Ducs de Bragança (exterieur) Retour à PORTO . ou bien journée libre . Logement à l’hôtel EURO STARS DAS ARTES ****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> Jour 8 : PORTO/ LISBONNE/ TUNIS </h3><br>
                                Petit-déjeuner . Transfert à l’aéroport de Lisbonne. Décollage sur Tunis Air à 15h 50 arrivée à 19h 30.
                                <br>
                                <br>
                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">23/03/2019
                                        <TD width="20%">30/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour  ENFANT - 12 ANS LOGEANT AVEC 02 ADULTES 
                                        <TD width="20%"> Tarif pour SUP. SINGLE 
                                        <TD width="20%">Tarif pour Bébé -02ans    
                                    <TR>
                                        <TD width="20%">2290 DT
                                        <TD width="20%">990 DT 
                                        <TD width="20%">100 DT   
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">PORTUGAL</h3><br>A partir de :<h3 style="color:#EE82EE"> 2 790 DT </h3><br>7 nuit(s)/ 8 jour(s) <br> du 23/03/2019 - 30/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers Lisbonne sur TUNISAIR à 13h05 <br> Arrivée à Lisbonne à 15H00<br> 
                                    <br>Décollage sur Tunis Air à 15h 50  <br> arrivée à 19h 30 <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>ALIF AVENDAS Lisbonne  <br>EURO STARS DAS ARTES Porto  <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Vol TUNIS / LISBONNE / TUNIS (BILLET PEX GROUPE, APRES EMISSION NON MODIFIABLE NI REMBOURSABLE)<br>
                                    • TRANSFERT AEROPORT / HOTEL / AEROPORT.<br>
                                    • TRANSFERT PAR BUS : LISBONE / PORTO / LISBONNE.<br>
                                    • LOGEMENT HOTEL 4****. AVEC PETIT DEJEUNER à LISBONNE 04 nuits<br>
                                    • LOGEMENT HOTEL 4**** AVEC PETIT DEJEUNER à PORTO 03 nuits<br>
                                    • HEBERGEMENT EN CHAMBRE DOUBLE..<br>
                                    • BUS ET GUIDE PARLANT FRANÇAIS DURANT LES EXCURSIONS<br>
                                    • Visite de LISBONNE/FATIMA/ COIMBRA/PORTO/ LISBONNE<br>




                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    • FRAIS DE VISA = 298 DT (A PAYER EN ESPECE AU CONSULAT) <br>
                                    • FRAIS D’ASSURANCE (OBLIGATOIRE) : 20 DT<br>
                                    • Excursion SINTRA & CASCAIS :35€ (min 20 pax )<br>
                                    • Excursion BRAGA/GUIMARES :35€ (min 20 pax )<br>
                                    • Supplément de monuments : Geronimo Monastère, Couvent du Christ, Palais de la Bourse, chai du vin Porto, Palais des Ducs de Bragance, mo : 65€ par personne<br>




                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}    