{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">PRAGUE / VIENNE / BRATISLAVA Du 19/03/19 Au 26/03/19</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="singlepage.html"> <img src="{{asset('templates/images/3.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" >
                                <h3 style="color:#EE82EE">  1ère Jour : TUNIS /PRAGUE </h3>
                                <br>
                                <br>

                                Départ vers PRAGUE, sur TUNISAIR décollage à 08h :10 Rendez-vous à 05h:10 
                                Arrivée à 11h : 45 Départ vers PRAGUE par bus. 
                                Arrivée et installation à l’hôtel OPERA****


                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 2ème Jour : PRAGUE LA VIEILLE VILLE</h3>
                                <br>
                                Départ le matin pour une ½ journée de visite guidée de la vieille ville. 
                                (La place de la vielle ville et son célèbre horloge astronomique, l’hôtel de ville, un chef d'œuvre de l'art nouveau à Prague, le tour poudrière, la place Venceslas, le quartier de joseph (l’ancien quartier juif), le pont Charles ….Nuitée à l’hôtel OPERA**** 

                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3ème Jour : PRAGUE / CHATEAU DE PRAGUE </h3><br>
                                Visite guidée du château de Prague, le monument le plus important du pays, véritable ville forteresse, la salle gothique Vladislav, la cathédrale saint gay, le vieux palais royal, la basilique St Georges, la ruelle d’or...Nuitée à l’hôte OPERA**** 
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4ème Jour : PRAGUE / DRESDEN ( En Allemagne) / (OPTION) </h3><br>
                                Petit déjeuner à l'hôtel. Journée libre ou Départ en bus touristique pour la visite guidée de la ville Allemande de Dresden, Une œuvre globale d'architecture et de paysage, capitale de l'état libre de Saxe. Le charme particulier de la ville de résidence des princes électeurs et des rois saxons se dévoile au cours d'une balade à travers son centre-ville de toute beauté, qui porte bien son nom de « Florence de l'Elbe » Malgré les graves destructions qu'elle a subi au cours de la Deuxième Guerre mondiale, la vieille-ville a pu conserver ses beaux ensembles ou les reconstruire. Frauenkirche (cathédrale Notre-Dame), palais du Zwinger, opéra du Semperoper, châteaux sur l'Elbe ou cité-jardin de Hellerau : Dresde va vous ravir quel que soit votre point de vue.Promenade à pieds avec notre guide au centre historique de Dresden . après-midi shopping aux divers centres commerciaux du centre. »Retour à Prague. Nuit à l’hôtel OPERA****.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5ème Jour : PRAGUE / VIENNE </h3><br>
                                Départ vers VIENNE . .Nuitée à l’hôtel Novum Hotel Kaffeemühle Wien***.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6ème Jour : VIENNE </h3><br>
                                Départ par bus pour une visite guidée de l’ancienne capitale de l’empire austro Hongrois : :Le palais du Belvédère(extérieur) qui se dresse avec majesté sur une hauteur et offre une vue splendide sur la ville de Vienne : c’est d’ailleurs l’origine du nom Belvédère (« belle vue »). Une promenade s’impose le long des parterres fleuris, des haies et des arbres en admirant les nombreuses fontaines et statues . L’avenue du ring qui encercle le centre–ville historique de Vienne et le plus beau boulevard de la capitale autrichienne bordé d'importants monuments historiques .la cathédrale st-Etienne qui se dresse au cœur du quartier baroque et culmine à 137 mètres, la grande roue ainsi que les abords du Danube .l’opéra de vienne l’un des plus prestigieux opéras du monde, et l’une des toutes premières institutions culturelles de la capitale autrichienne. Après midi libre shopping à la plus longue avenue commerçante da la capitale Maria Hilfer . Nuitée à l’hôtel l’hôtel Novum Hotel Kaffeemühle Wien*** .
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">7ème Jour : VIENNE / BRATISLAVA / VIENNE </h3><br>
                                Départ par bus pour la visite guidée de la capitale slovaque, Bratislava, (elle n'est d'ailleurs distante que de 60 km de Vienne) elle est la plus grande ville de Slovaquie. Elle est traversée par le Danube . Bratislava est le siège de la présidence, du parlement et du gouvernement slovaques. Dans ce circuit, vous guidera à travers les plus beaux quartiers de la ville, le centre historique et en bus touristique vous passez les zones à l'intérieur des frontières de la vieille ville. Vous accédez directement à la cour du château médiéval(extérieur), avec une vue magnifique sur toute la ville et ses environs. Sur le chemin du retour arrêt shopping au plus grand outlet de l’Europe centrale – parendhorf-. Nuitée à l’hôtel Novum Hotel Kaffeemühle Wien***.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE">8ème JOUR : VIENNE / TUNIS </h3><br>
                                Transfert à l’Aéroport. Décollage 13h :20 . Arrivée à TUNIS à 14h :25.
                                <br>
                                <br>
                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">19/03/2019
                                        <TD width="20%">26/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif pour ENFANT 02 - 12 ANS LOG. AVEC 02 ADULTES
                                        <TD width="20%">Tarif pour Bébé -02ans
                                        <TD width="20%"> Tarif pour SUP. SINGLE   
                                    <TR>
                                        <TD width="20%">2090DT
                                        <TD width="20%">100 DT
                                        <TD width="20%">690 DT.  
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">PRAGUE / VIENNE / BRATISLAVA</h3><br>A partir de :<h3 style="color:#EE82EE"> 2 690 DT </h3><br>7 nuit(s)/ 8 jour(s) <br> du 19/03/2019 - 26/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers PRAGUE, sur TUNISAIR décollage à 08h :10 <br> Rendez-vous à 05h:10 Arrivée à 11h : 45 <br> 
                                    <br>Transfert à l’Aéroport. Décollage 13h :20 <br> Arrivée à TUNIS à 14h :25.  <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>HOTEL PRAGUE<br>HOTEVIENNE  <br> 


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Vol Aller / Retour : TUNIS/PRAGUE-VIENNE /TUNIS.<br>
                                    • Transfert Aéroport/Hôtel/Aéroport.<br>
                                    • Hébergement en Chambre Double. <br>
                                    • Logement 04 Nuitées à PRAGUE Hôtel 4**** avec Petit Déjeuner. <br>
                                    • Logement 03 Nuitées à VIENNE Hôtels 3*** avec Petit déjeuner <br>
                                    • Visite guidée de Prague <br>
                                    • Visite du château de Prague<br> 
                                    • Visite guidée de Vienne <br>
                                    • Visite guidée de Bratislava <br>
                                    • Mise à la disposition bus et guide Francophone durant les excursions <br>
                                    • Entrée aux monuments historiques indiqués <br>
                                    • Accompagnateur de l’agence. <br>




                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    •Timbre de voyage : 60 DT <br>
                                    •Frais de Visa : 298 DT (en Espèce)<br> 
                                    •Frais d’Assurance : 20 DT.<br>
                                    •Excursion en extra a Dresden ( en Allemagne) 50 euro <br>
                                   




                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}       
