{% extends '::base.html.twig'%}

{% block body %}


    <!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html>
        <head>
            <title>Avatar Travel Agency</title>

            <!--//web-font-->
            <!-- Custom Theme files -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
                  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

            <!--//end-smoth-scrolling-->
        </head>
        <body>
            <!--navigation-->

            <!--navigation-->
            <!--header-->

            <!--//header-->
            <!--blog-->
            <div class="blog">
                <div class="container">

                    <div class="col-md-8 blog-left" >
                        <div class="blog-info">
                            <h4 style="color:#FF00FF">ROME / FLORENCE /PISE/ VENISE Du 24/03/18 Au 30/03/19</h4>

                            <div class="blog-info-text">
                                <div class="blog-img">
                                    <a href="#"> <img src="{{asset('templates/images/9.jpg')}}" class="img-responsive zoom-img" alt=""/></a>
                                </div>

                                <p class="snglp" > <h3 style="color:#EE82EE">1er Jour : TUNIS /VENEZIA MESTRE : </h3><br>
                                Départ vers VENISE à 09h00 sur TUNISAIR (Rendez-vous 06h00 à l’aéroport), 
                                Arrivée à 10h40.Transfert à l’hôtel *** * BEST WESTREN TRITONE . 
                                Départ partrain pour la visite guidé de la ville : La Place St-Marc le symbole incontesté de VENISE et le plus beau salon du monde. Cette visite vous permettra de connaitre l'histoire de la Place et de la Basilique Saint- Marc (extérieur), du Palais des Doges (Extérieur), la Salle du Conseil, la Salle du Sénat et la Salle du Collège qui abrite les fameuses toiles du Tintoret, du Titien et de Véronèse. Visite du Pont des Soupirs.
                                Nuitées à l’hôtel **** BEST WESTREN TRITONE .

                                <br>
                                <br>
                                <h3 style="color:#EE82EE">2ème Jour :VENEZIA MESTRE / LAC DE GARDE/ SIRMIONE/ VERONA (Option)</h3>
                                <br>
                                Après avoir quitté Venise, vous commencerez votre visite à Sirmione, une charmante ville médiévale sur le lac de Garde, le plus grand lac d'Italie. Votre guide vous ramènera dans le temps en vous racontant l'histoire des monuments historiques de Sirmione et de son château, un exemple rare de fortification de lac. Vous vous dirigerez ensuite vers Vérone, une ville connue dans le monde entier comme l'écrin du Roméo et Juliette de Shakespeare . Après votre guide vous montrera les sites les plus importants de la ville, en commençant par la Piazza Bra avec ses palais élégants et charmants le long de la "Listone", la célèbre allée de calcaire rose. Vous verrez le monument romain le plus important de la ville, l'Arena, un amphithéâtre, où un festival lyrique international est encore organisé aujourd'hui. Vous vous arrêterez également pour voir le balcon de Juliette, un incontournable pour tous ceux qui visitent Vérone. En fin d'après-midi, vous retournerez à Mestre Venise après votre journée passionnante à explorer Sirmione et Vérone. . Si non journée libre. Nuitées à hôtel BEST WESTREN TRITONE****
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 3ème Jour : VENISE/FLORENCE</h3><br>
                                Départ vers FLORENCE par bus touristique privé. Arrivée à Hotel FIRENZE CITY CENTER *** 
                                Après-midi : visite guidée panoramique pédestre (avec guide local francophone) de Florence : la place de la cathédrale, les rives de l’Arno, le Ponte Vecchio (vues extérieures) et la galerie des Offices (extérieur).
                                Nuitée à l’hôtel Hotel FIRENZE CITY CENTER ***. 


                                <br>
                                <br>
                                <h3 style="color:#EE82EE">4ème Jour :FLORENCE / PISE </h3><br>
                                Départ vers Pise, ville universitaire historique aux mille chefs-d’œuvre. A l’arrivée à Pise, visite guidée à pied de la Place des Miracles, un des sommets de l'art roman, où se dressent: le Campanile, ou "Tour penchée" (extérieur), le Baptistère (extérieur) et d'autres monuments splendides. On poursuit la visite vers la Cathédrale (extérieur), un chef-d’œuvre de marbre blanc érigé aux XI-XIIème siècle. Retour à FLORENCE. Ou bien journée libre. Nuitée à Hotel FIRENZE CITY CENTER ***.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 5ème Jour : FLORENCE / ROME BAROQUE  </h3><br>
                                Départ vers ROME. Arrivée et installation à Hôtel MADISON ***. 
                                Apres midi : une visite guidée de la ville de Rome : une promenade de plaisir à travers les célèbres places et fontaines de la Rome Baroque en passant par le quartier de la Haute Couture et commerce de Rome.
                                Dans les rues animées de la Rome Baroque, vous admirerez la Fontaine de Trevi un hommage au dieu Neptune, avant d’arriver à la splendide Place d'Espagne, le panthéon, la place Navona, temps libre pour déjeuner et continuation pour la visite de la place et la basilique saint pierre. Nuitée à Hôtel MADISON***.

                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 6ème Jour : ROME / CASTEL ROMANO DESIGNER OUTLET/ROME(OPTION) </h3><br>
                                Matin départ vers Le Castel Romano Designer Outlet qui se trouve à 25 km du centre de Rome, 
                                Vous pouvez y faire des affaires en trouvant des articles de qualité à des prix défiant la concurrence, puisque les réductions vont de 30 à 70 %. 
                                Des offres promotionnelles exclusives sont en outre régulièrement proposées sur les plus grandes marques, On n'y trouve pas uniquement des articles de mode, mais aussi des accessoires pour la maison, des vêtements de sport, des parfums, du chocolat et des souvenirs de voyage. Retour à l’hôtel Nuitée à Hôtel MADISON*** .Ou bien journée libre.

                                <br>
                                <br>
                                <h3 style="color:#EE82EE">7ème Jour : ROME /TUNIS </h3><br>
                                Transfert à l’aéroport et retour à Tunis. Décollage à 11h45 . Arrivée à 12h55 sur TUNISAIR.
                                <br>
                                <br>
                                <h3 style="color:#EE82EE"> 8ème Jour: BELGRADE / TUNIS </h3><br>
                                Départ vers l’Aéroport de BELGRADE pour envol sur vol TUNISAIR TU227 à 12H25.
                                Arrivée à l’Aéroport TUNIS – CARTHAGE à 14H25

                                <br>
                                <br>
                                </p>
                                <h3 style="color:#EE82EE">    Date </h3>  
                                <br>

                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Départ le
                                        <TD width="20%">Retour le

                                    <TR>
                                        <TD width="20%">24/03/2019
                                        <TD width="20%">30/03/2019
                                </TABLE>  
                                <br>
                                <br>

                                <h3 style="color:#EE82EE">    Tarifs TTC en dinars </h3> 
                                <br>
                                <TABLE border="1" width="50%">
                                    <TR>
                                        <TD width="20%">Tarif enfant- 12ans logé avec les parents 
                                        <TD width="20%">Tarif pour Bébé
                                        <TD width="20%"> Tarif pour SUP. SINGLE   
                                    <TR>
                                        <TD width="20%"> 2190 DT 
                                        <TD width="20%"> 100 DT
                                        <TD width="20%"> 690 DT 
                                </TABLE>                            


                            </div>	


                        </div>



                    </div>	
                    <div class="col-md-4 single-page-right">
                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;">  <h3 style="color:#EE82EE">ROME / FLORENCE /PISE/ VENISE</h3><br>A partir de :<h3 style="color:#EE82EE"> 2 690 DT </h3><br>6 nuit(s)/ 7 jour(s) <br> du 24/03/2019 - 30/03/2019<br> </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Plan Du Vol </h3><br>Départ vers VENISE à 09h00 sur TUNISAIR <br> Arrivée à 10h40<br> 
                                    <br>Départ vers l’Aéroport de BELGRADE pour envol sur vol TUNISAIR TU227 à 12H25 <br>Arrivée à l’Aéroport TUNIS – CARTHAGE à 14H25  <br>

                                </div>


                            </div>
                        </div>	

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Ville & Hôtels </h3><br>VENEZIA MESTRE    <br>Hotel Firenze City Center  <br> Rome: Hôtel MADISON <br>


                                </div>


                            </div>
                        </div>

                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Comprend </h3><br>                              
                                    • Vol aller /retour TUNIS/ VENISE /ROME/TUNIS (non remboursable non modifiable <br>
                                    • Hébergement dans des hôtels**** VENEZIA MESTRE  <br>
                                    • Hébergement dans des hôtels*** à Florence et ROME <br>
                                    • Logement dans des chambres doubles avec petit déjeuner <br>
                                    • Transfert aéroport / hôtel / aéroport <br>
                                    • Visite guidée de Venise <br>
                                    • Visite guidée de Florence <br>
                                    • Visite guide <br>
                                    • Visite de Rome baroque <br>
                                    • Guides francophone durant les excursions <br>
                                    • Accompagnateur de l’agence <br>





                                </div>


                            </div>
                        </div>        


                        <div class="category blog-ctgry">

                            <div class="list-group">
                                <div style="width: 300px; padding-top:10px; padding-bottom:10px;border: 3px solid #A0A0A0; text-align: center;background: #FFFFFF;"> <h3 style="color:#EE82EE">Offre Ne Comprend Pas </h3><br>                              
                                    Frais de visa : 297 DT <br>
                                    Assurance de voyage : 20 DT <br>
                                    Timbre de voyages : 60 dt <br>
                                    Les excursions en extra minimum 20 participants  <br>
                                    Excursion: LAC DE GARDE/ SIRMIONE/ VERONA : 60€  <br>
                                    Shopping outlet : 20€ <br>
                                    City taxe : VENISE 6.2€ + Florence 8€ + Rome 8 € <br>




                                </div>


                            </div>
                        </div>       





                    </div>

                </div>	
            </div>	
            <!--//blog-->
            <!--footer-->

	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}          