{% extends '::base.html.twig'%}

{% block body %}



    <div class="container">
        <div class="col-xs-24 col-sm-16" style="padding-left: 0;">
            <!-- Place somewhere in the <body> of your page -->

            <div id="DivIdToPrint">
                <div class="tab-holder" style="    margin-top: 15px;border: 1px solid #cccccc;box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);float: left;width: 100%;padding: 12px;">

                    <br>


                    <div class="tab-content" id="tab-content-hoteltunisie">
                        <div class="tab-pane" id="overview">

                            <p style="text-align: justify;">Situé au milieu de palmiers à côté de l'une des plus belles plages de la Tunisie, le Riadh Palms propose un hébergement confortable doté d'équipements modernes dans le centre de Sousse. Vous bénéficierez d'une connexion Wi-Fi gratuite dans l'ensemble de l'établissement.<br>
                                Vous pourrez profiter de piscines. La piscine extérieure présente une forme de serpent autour d'une petite île centrale et comprend 3 ponts. L'établissement comporte également une piscine pour enfants et une piscine intérieure chauffée. Vous pourrez vous détendre sur une chaise longue à l'ombre d'un parasol.<br>
                                Les chambres et les suites sont confortables et dotées d'équipements modernes. Certains logements possèdent également un balcon privé. Sur place, vous trouverez par ailleurs plusieurs restaurants et bars où vous pourrez déguster des plats et des boissons savoureux.<br>
                                Pour un moment de détente, rendez-vous au spa Serenity muni d'un sauna, de massages ainsi que d'une salle de sport.</p>
                        </div>

                        <style>
                            .smtfont{
                                color: #505050;text-align: center;
                            }
                            .table-reduction-line{
                                font-size:12px}
                            p {
                                margin-bottom: 0px;
                            }
                        </style>
                        <div class="tab-pane active" id="review">
                            <style>
                                .entry-content h3 {
                                    font-size: 14px;
                                    line-height: 18px;
                                }
                                /* Style the buttons that are used to open and close the accordion panel */
                                button.accordion {
                                    background-color: #e9e9e9;
                                    color: #1B71B5;
                                    cursor: pointer;
                                    padding: 9px;
                                    width: 100%;
                                    text-align: left;
                                    border: none;
                                    outline: none;
                                    transition: 0.4s;

                                }

                                /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


                                /* Style the accordion panel. Note: hidden by default */
                                div.panel {
                                    padding: 15px 18px;
                                    background-color: white;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: 0.6s ease-in-out;
                                    opacity: 0;
                                }

                                div.panel.show {
                                    opacity: 1;
                                    max-height: 1200px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
                                }
                                button.accordion:after {
                                    /* content: '\02795'; 
                                     font-size: 13px;
                                     color: #777;
                                     float: right;
                                     margin-left: 5px;
                                     margin-top: 3px;*/
                                }

                                button.accordion.active:after {
                                    /* content: "\2796";*/ /* Unicode character for "minus" sign (-) */
                                }.panel{
                                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                                }
                            </style>
                            <div class="featured_section1">
                                <div class="clearfix">
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 1:  <b>06/12/2018 - 30/04/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive  show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 1" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>LPD</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">57.2 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            ND</p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>DP</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">62.7 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            ND</p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>PC</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">74.8 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            ND</p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">96.8 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            ND</p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">101.2 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            ND</p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 5.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 6 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 2:  <b>01/05/2019 - 14/06/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 2" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">121 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            25 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            8 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">126.5 TND  Min 3 Nuitée  / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            25 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            8 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 0 à 1.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 3:  <b>15/06/2019 - 09/07/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 3" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">154 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            55 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            13 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">165 TND  Min 3 Nuitée  / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            55 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            13 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 0 à 1.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 4:  <b>10/07/2019 - 31/08/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 4" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">225.5 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            80 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            13 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">236.5 TND  Min 3 Nuitée  / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            80 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            13 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 0 à 1.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 5:  <b>01/09/2019 - 22/09/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 5" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">154 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            55 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            13 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">165 TND  Min 3 Nuitée  / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            55 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            13 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 0 à 1.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 6:  <b>23/09/2019 - 30/09/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 6" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">121 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            25 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            8 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">126.5 TND  Min 3 Nuitée  / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            25 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            8 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 0 à 1.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <button class="accordion active">
                                        <div class="saisson one_half" style="width: 70%; float: left"><h4 style="margin-bottom: 0px;font-size: 15px;"><i class="fa fa-clock-o"></i> Période 7:  <b>01/10/2019 - 31/10/2019</b></h4></div>
                                        <div style="display: inline-block; float: left" class="">
                                        </div> 
                                    </button>
                                    <div class="panel table-responsive show">
                                        <h4><b>Tarif(s) / Supplément(s)</b></h4>
                                        <hr>
                                        <table class="table table-condensed 7" style="margin-bottom: 15px;">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-italic-reduction">Type Chambres</th>
                                                    <th class="table-header-italic-reduction">Tarif</th>
                                                    <th class="table-header-italic-reduction">Supp Single</th>
                                                    <th class="table-header-italic-reduction">Supp Weekend</th>
                                                    <th class="table-header-italic-reduction">Supp Vue Mer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALLSOFT</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">121 TND / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            8 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td class="first-level">
                                                        <p class="smtfont">
                                                            <i class="fa fa-caret-right"></i>
                                                            chambre standard En 
                                                            <span>ALL</span>
                                                        </p>
                                                    </td>
                                                    <td><p class="smtfont">126.5 TND  Min 3 Nuitée  / par personne </p></td>
                                                    <td><p class="smtfont">

                                                            20 TND                                                                    </p></td>
                                                    <td>
                                                        <p class="smtfont">
                                                            ND                                                                    </p>
                                                    </td>
                                                    <td><p class="smtfont">
                                                            8 TND <span> /personne</span></p></td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" style="padding:1px 0 0 0 ;">
                                                        <div class="service-check-rate">
                                                            <div class="table-responsive clearfix">
                                                                <br>
                                                                <h4><b>Réduction(s) / Tarif(s): Enfant</b></h4>
                                                                <hr>
                                                                <table class="table tb-service-check-rate">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="table-header-italic-reduction">Age Enfant</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 1 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf 2 Chambre Parent</th>
                                                                            <th class="table-header-italic-reduction" align="left">Enf Chambre Séparée</th>
                                                                            <th class="table-header-italic-reduction" align="left">1<sup>er</sup> Enf + 1 adlt</th>
                                                                            <th class="table-header-italic-reduction" align="left">2<sup>ème</sup> Enf + 1 adlt</th>
                                                                        </tr></thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 0 à 1.99 ans</td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"> <b>Gratuit</b></td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-reduction-line">de 2 à 11.99 ans</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 50 %</td>
                                                                            <td class="table-reduction-line"><b>Plein Tarif</b></td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                            <td class="table-reduction-line"><b>Réduction</b> de 30 %</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table></div></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h4><b>Réduction(s) / Tarif(s): 3<sup>ème</sup> et 4<sup>ème</sup> Lit Adulte</b></h4>
                                        <hr>
                                        <table class="table tb-service-check-rate">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-reduction" valign="center">
                                                        3<sup>ème</sup> Lit</th>
                                                    <th class="table-header-reduction" valign="center">
                                                        4<sup>ème</sup> Lit</th>
                                                </tr>
                                                <tr>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %                                                            </td>
                                                    <td class="table-reduction-line" style="    background: white;"><b>Réduction</b> de 15 %</td>
                                                </tr>
                                            </thead>                                                
                                        </table>
                                    </div>
                                    <div class="margin_top2"></div>
                                </div>
                            </div>
                        </div>
                        <style>

                            .blocChambre {
                                border-bottom: 1px solid #000 !important;
                                margin: -5px 0 0 0 !important;
                                border-left: 1px solid #000 !important;
                                border-right: 1px solid #000 !important;
                                border-top: 0 !important;
                            }
                            .blocChambre:last-child {
                                border-bottom: 3px solid #000 !important;
                                margin: -5px 0 0 0 !important;
                                border-left: 1px solid #000 !important;
                                border-right: 1px solid #000 !important;
                                border-top: 0 !important;
                            }
                            label.labelAdulteBloc , label.labelEnfantBloc , label.labelArrangementBloc {
                                position: absolute !important;
                                margin-top: 10px !important;
                            }
                            select.form-control.AdulteChambre , select.form-control.EnfantChambre{
                                position: absolute;
                                width: 60px;
                                margin-left: 3.2em;
                            }
                            .col-md-2.adulteBloc , .col-md-2.enfantBloc , .col-md-6.arrangementBloc {
                                margin-top: 15px !important;
                            }
                            .col-md-6.arrangementBloc select.form-control {
                                width: 249px !important;
                                float: right !important;
                            }

                            .row.reservation-details{
                                padding: 15px 0;
                                background: #F7F7F7;
                                border: 1px solid #000;
                                margin: 0;
                            }
                            #CDSWIDSSP {
                                width: 100% !important;
                            }
                        </style>

                        <div class="row">
                            <div class="col-md-24">
                                <form method="POST" name="reservation" enctype="multipart/form-data" action="/Hotel_Selection" id="reservation">                                <input type="hidden" name="numcontrat" value="201600004">
                                    <input type="hidden" name="datedu" value="21-03-2019">
                                    <input type="hidden" name="dateau" value="22-03-2019">
                                    <input type="hidden" name="codhot" value="201500141">
                                    <input type="hidden" name="num_saison" value="201802863">
                                    <input type="hidden" name="nb_pax" value="1">
                                    <input type="hidden" name="source" value="details">
                                    <input hidden="" name="ReserNbRooms" id="ReserNbRooms" value="1">
                                    <input hidden="" name="arrangement_1201600004LPD" id="arrangement_1201600004LPD" value="LPD">
                                    <input hidden="" name="typechambre1201600004LPD" id="typechambre1201600004LPD" value="0">
                                    <input hidden="" name="ReserArrangement" id="ReserArrangement" value="LPD">
                                    <input hidden="" name="ReserTypeChambre" id="ReserTypeChambre" value="0">
                                    <input hidden="" name="only_adult" id="only_adult" value="0">
                                    <input hidden="" name="occupation_maximale" id="occupation_maximale" value="4">
                                    <div style="float: right">                      
                                        <button type="submit" name="reserver" class="btn btn-primary " value="Réserver">Réserver</button>                                </div></form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-2 about">

                <h3>Liens</h3>


                <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                <li><a href="#">Hotel</a></li>
                <li><a href="{{path('casa')}}">Voyages</a></li>
                <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                <li><a href="{{path('omra1')}}">Omra</a></li> 
                <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                <li><a href="{{path('contact')}}">Contact</a></li>



                </ul>

            </div>   


            <div class="col-md-3 about">

                <h3>Voyages</h3>

                <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>

            </div>

            <div class="col-md-3 about">


                <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

            </div>


            <div class="col-md-3 address">
                <h3>Adresse</h3>

                <ul>
                    <li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
                    <li><span class="ph-no"></span>(+216) 79 391 087 <br>
                        (+216) 79 391 088 </li>
                    <li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
                </ul>
            </div>	

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
        </div>
    </div>
    <!--smooth-scrolling-of-move-up-->

    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>    

{%endblock  %}    