{% extends 'base.html.twig' %}

{% block body %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Avatar Travel Agency</title>
 <!--//web-font-->
            <!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--//end-smoth-scrolling-->
</head>

    <div class="content_fullwidth less3">
        <div class="container">

            <br>
            <br>


            <form method="POST" name="clients" enctype="multipart/form-data"  id="myFormVol" class="cforms">        <div class="one_full">
                    <div class="stcode_title4">
                        <h3><span class="line"></span><span class="text"><strong>Date de séjours :</strong></span></h3>
                    </div>
                </div>
                <div class="one_full">
                    <div class="one_full">	
                        <div class="info-block" style="min-height: auto; padding-top: 15px; float: left">
                            <div class="one_full">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" style="font-size: 11px;" for="type_voyage">Date entrée <span style="color:red;">(*)</span></label>
                                        {{ form_widget(form.dateentree, { 'attr': {'class': 'form-control', 'placeholder': 'Date Entree' } }) }}
                                        {{ form_errors(form.dateentree) }}
                                        <span class="help-block " style="margin-top: 5px;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date sortie  <span style="color:red;">(*)</span></label>
                                        <div>
                                            {{ form_widget(form.datesortie, { 'attr': {'class': 'form-control', 'placeholder': 'Date Sortie' } }) }}
                                            {{ form_errors(form.datesortie) }}                                    

                                        </div>

                                        <span class="help-block " style="margin-top: 5px;"></span>
                                    </div>
                                </div>

                            </div><div class="clearfix"></div>




                            <div class="one_full">


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" style="font-size: 11px;" for="port_depart">Nombre de chambre <span style="color:red;">(*)</span></label>
                                        {{ form_widget(form.nombrechambre, { 'attr': {'class': 'form-control', 'placeholder': 'N du chambre' } }) }}
                                    {{ form_errors(form.nombrechambre) }} 
                                   
                                        <span class="help-block " style="margin-top: 5px;"></span>
                                    </div>
                                </div>               


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type Chambre <span style="color:red;">(*)</span></label>
                                        <div>
                                            {{ form_widget(form.typechambre, { 'attr': {'class': 'form-control', 'placeholder': 'Adulte(s) (16 à 60 ans non révolus)' } }) }}
                                            {{ form_errors(form.typechambre) }}                   
                                        </div>

                                        <span class="help-block " style="margin-top: 5px;"></span>
                                    </div>
                                </div> 




                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label >Arrangement <span style="color:red;">(*)</span></label>
                                        {{ form_widget(form.arrangement, { 'attr': {'class': 'form-control', 'placeholder': 'Arrangement' } }) }}
                                        {{ form_errors(form.arrangement) }}                       
                                        <span class="help-block " style="margin-top: 5px;"></span>
                                    </div>
                                </div>   


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" style="font-size: 11px;" for="marque_voiture">Nbre Adulte(s) (16 à 60 ans non révolus) (*)</label>

                                        {{ form_widget(form.nombreadulte, { 'attr': {'class': 'form-control', 'placeholder': 'nombreadulte' } }) }}
                                        {{ form_errors(form.nombreadulte) }}                      

                                        <span class="help-block " style="margin-top: 5px;"></span>
                                    </div>
                                </div>



                            </div>
                            <div class="clearfix"></div>
                            <div class="one_full">
                                <div id="dimensionn" style="display: none;">
                                    <div class="one_fourth">
                                        <div class="form-group">
                                            <span style="    top: 33px;font-size: 11px;position: relative;"><b>Dimensions <small>(Largeur - Hauteur - Longueur)</small>  </b><span style="color:red;">(*)</span>

                                            </span></div>
                                    </div>
                                    <div class="one_fourth">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 11px;" for="dimension">Largeur<span style="color:red;">(*)</span></label>

                                            <input type="text" name="largeur" id="largeur" class="form-control borderright valuestyle dimensionnn" placeholder="En mètre" value="">
                                            <span class="help-block " style="margin-top: 5px;"></span>

                                        </div>
                                    </div>
                                    <div class="one_fourth">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 11px;" for="dimension">Hauteur<span style="color:red;">(*)</span></label>

                                            <input type="text" name="hateur" id="hateur" class="form-control borderright valuestyle dimensionnn" placeholder="En mètre" value="">
                                            <span class="help-block " style="margin-top: 5px;"></span>

                                        </div>
                                    </div>
                                    <div class="one_fourth last">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 11px;" for="dimension">Longeur<span style="color:red;">(*)</span></label>

                                            <input type="text" name="longeur" id="longeur" class="form-control borderright valuestyle dimensionnn" placeholder="En mètre" value="">
                                            <span class="help-block " style="margin-top: 5px;"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                           

                                <div class="form-group">
                                    <label class="control-label" style="font-size: 10px;" for="nbEnfant">Nbre Enfant(s) <small>(2 à 16 ans non révolus)</small><span style="color:red;"> (*)</span></label>
                                    {{ form_widget(form.nombreenfants, { 'attr': {'class': 'form-control', 'placeholder': 'Enfant(s) (2 à 16 ans non révolus)' } }) }}
                                    {{ form_errors(form.nombreenfants) }}  
                                    <span class="help-block " style="margin-top: 5px;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" style="font-size: 10px;" for="nbBebe">Nbre Bébé(s)  <small>(1 à 2 ans non révolus)</small><span style="color:red;"> (*)</span></label>
                                    {{ form_widget(form.nombrebebes, { 'attr': {'class': 'form-control', 'placeholder': 'Bébé(s) (1 à 2 ans non révolus)' } }) }}
                                    {{ form_errors(form.nombrebebes) }}  
                                    <span class="help-block " style="margin-top: 5px;"></span>
                                </div>
                            </div>
                        




                        </div>
                        <div class="clearfix"></div>
                
                    </div>

                </div>





                <div class="clearfix"></div>
            
          
                <div><span style="color:red;">(*)</span> Champ Obligatoire.</div>
                <div class="clearfix" style="float:right !important;">
                    <input type="submit" class="fbut btn btn-primary" value="Tarifs et disponibilités">

                </div>
                <div class="col-md-1"></div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center" style="margin-top: 40px;">
                    {{ form_rest(form) }}
                    <!-- end section -->
                </div>
                <div>

            </form>
        </div>


    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="col-md-2 about">

            <h3>Liens</h3>


            <li><a href="{{path('acceuil')}}">Acceuil</a></li>
            <li><a href="#">Hotel</a></li>
            <li><a href="{{path('casa')}}">Voyages</a></li>
            <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
            <li><a href="{{path('omra1')}}">Omra</a></li> 
            <li><a href="{{path('galerie')}}">Gallerie</a></li> 
            <li><a href="{{path('contact')}}">Contact</a></li>



            </ul>

        </div>   


        <div class="col-md-3 about">

            <h3>Voyages</h3>

            <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
            <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
            <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
            <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
            <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
            <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>

        </div>

        <div class="col-md-3 about">


            <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
            <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
            <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
            <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
            <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
            <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

        </div>


        <div class="col-md-3 address">
            <h3>Adresse</h3>

            <ul>
                <li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
                <li><span class="ph-no"></span>(+216) 79 391 087 <br>
                    (+216) 79 391 088 </li>
                <li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
            </ul>
        </div>	

        <div class="clearfix"> </div>
    </div>
</div>	
<div class="copy-right">
    <div class="container">
        <p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
    </div>
</div>
<!--smooth-scrolling-of-move-up-->

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
{%endblock  %}	     