{% extends "BackBundle::base.html.twig" %}

{% block A %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Listes Des Civilite</p>
            <div class="list-group">
                <a href="{{path('civilite_new')}}"class="list-group-item">Ajouter</a>
                <a href="{{path('civilite_modifier')}}" class="list-group-item">Modifier</a>
                <a href="{{path('civilite_index')}}" class="list-group-item">Afficher</a>
                <a href="#" class="list-group-item">Recherche</a>

            </div>
        </div>

        <div class="col-md-5">
            <table class ="table table-striped">
                <thead>
                    <tr>
                       
                        <th>Civilite</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for civilite in civilites %}      
                        <tr>


                         
                            <td>{{ civilite.civilite }}</td>                   






                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('civilite_edit', { 'id': civilite.id})}}" class="btn btn-info" ><span class="glyphicon glyphicon-edit"></span>   modifier</a>
                                    </li>
                                 
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



        </div>    
    </div>
{% endblock A %}  






