{% extends '::base.html.twig'%}

{% block body %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Avatar Travel Agency</title>

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Excursion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<!--//end-smoth-scrolling-->
</head>
<body>
	<!--navigation-->
	
	<!--navigation-->
	<!--header-->
	<div class="header">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand"><img src="{{asset('templates/images/image2.png')}}" alt=""></a>
                              
                                <br>
                                <br>
                                <br>
			</div>	
		
		</div>	
	</div>
	<!--//header-->
	   <div class="container">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="{{asset('templates/images/bg_1.jpg')}}" alt="Los Angeles" style="height: 100%; width:100%;  margin-left: auto;
                                     margin-right: auto; display: block;">

                            </div>

                            <div class="item">
                                <img src="{{asset('templates/images/bg_3.jpg')}}" alt="Chicago" style="height: 100%; width:100%;  margin-left: auto;
                                     margin-right: auto; display: block;">

                            </div>

                            <div class="item">
                                <img src="{{asset('templates/images/bg_4.jpg')}}" alt="New York" style="height: 100%; width:100%;  margin-left: auto;
                                     margin-right: auto; display: block;">

                            </div>
                           <div class="item">
                                <img src="{{asset('templates/images/bg_2.jpg')}}" alt="New York" style="height: 100%; width:100%;  margin-left: auto;
                                     margin-right: auto; display: block;">

                            </div>           

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>	
	
	
	<div class="features">
		<div class="container">
                 <h3>Voyages organises</h3>   
                      {% for voyage in voyages %}
			
			         <div class="features">
                                <div class="container">

                                <div class="row">

                                 <div class="col-sm-6 col-md-4 featur-grids">
                                  <div class="thumbnail feature-thmbnl">                                                                                                                                                                     <div class="thumbnail feature-thmbnl">     
						<h4>{{ voyage.titre }}</h4>
						<img src="{{asset('uploads/'~voyage.path)}}" alt="">
						<div class="caption">
						<h5><a href="{{path('casa')}}">{{ voyage.datedevoyage }}<a></h5>        
						<p>à partir de:{{ voyage.prix }}  DT</p>
                                                 <a href="{{ voyage.path1 }}" class="btn btn-primary hvr-rectangle-in">Lire la suite</a>   
                                                  
							
						</div>
					</div>
				</div> 
                                 </div>
		
                     
				
                      {% endfor %} 
 
  
                    
                           
			</div>
                   
               
		</div>
                      </div>        
	</div>
   
                </div>       
                                                   
	<div class="footer">
		<div class="container">
                    	<div class="col-md-2 about">
			
                            <h3>Liens</h3>
                          
                           
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="#">Hotel</a></li>
                                    <li><a href="{{path('casa')}}">Voyages</a></li>
                                    <li><a href="{{path('vol_index')}}">Billeterie</a></li> 
                                    <li><a href="{{path('omra1')}}">Omra</a></li> 
                                    <li><a href="{{path('galerie')}}">Gallerie</a></li> 
                                    <li><a href="{{path('contact')}}">Contact</a></li>
                              

                              
                            </ul>
                        	
			</div>   
                    
                    
			<div class="col-md-3 about">
			
                            <h3>Voyages</h3>

                                        <li><a href="{{path('belgrade')}}">Belgrade / ZLATIBOR</a></li>
                                        <li><a href="{{path('prague')}}">PRAGUE/VIENNE/BRATISLAVA</a></li>
                                        <li><a href="{{path('barcelone')}}">BARCELONE MARS 2019 </a></li>
                                        <li><a href="{{path('beyrouth')}}">BEYROUTH</a></li>
                                        <li><a href="{{path('portugal')}}">PORTUGAL</a></li>
                                        <li><a href="{{path('nice')}}">NICE/CANNES/MONNACO</a></li>
                                 
			</div>
                    
                 	<div class="col-md-3 about">
			
    
                                        <li><a href="{{path('inde')}}">INDE ET ISTANBUL</a></li>
                                        <li><a href="{{path('rome')}}">ROME/FLORENCE/PISE/VENISE</a></li>
                                        <li><a href="{{path('paris')}}">PARIS MARS 2019</a></li>
                                        <li><a href="{{path('madrid')}}">MADRID ANDALOUSIE COSTA DEL SOL </a></li>
                                        <li><a href="{{path('bruxelle')}}">PARIS / BRUXELLES / AMSTERDAM</a></li>
                                        <li><a href="{{path('casa')}}">CASABLANCA /RABAT / MARRAKECH </a></li>

			</div>
                                        
                            
			<div class="col-md-3 address">
				<h3>Adresse</h3>
				
				<ul>
					<li><span></span>  APP 9 Residence el Hakim Av de paris Ben Arous</li>
					<li><span class="ph-no"></span>(+216) 79 391 087 <br>
                                    (+216) 79 391 088 </li>
					<li><span class="mail"></span><a href="mailto:example@mail.com">avatar.voyage@gmail.com</a></li>
				</ul>
			</div>	
		
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>Copyright © 2019 MicroSystemSolutions. All rights reserved </p>
		</div>
	</div>
	<!--smooth-scrolling-of-move-up-->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>

{%endblock  %}











